# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.spyderproject
.spyproject
.vscode
.editorconfig

# mkdocs documentation
/site

# mypy
.mypy_cache/

poetry.lock
